-if user_signed_in?
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active= link_to 'Listado de Proyectos', projects_path
    -if current_user && current_user.admin?
      %li= link_to 'Nuevo Proyecto', new_project_path
      %h1 Proyectos
      =render "projects/table", projects: @projects
