%h1 Proyectos

=render "projects/table", projects: @projects

-if current_user && current_user.admin?
  =link_to new_project_path, class: "btn btn-default" do
    %i.glyphicon.glyphicon-plus
    Nuevo Proyecto
